@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    background: linear-gradient(rgb(247, 247, 247) 7.92%, rgb(175, 156, 243) 86.48%);
    background-color: white;
  }
}

@layer components{
  .main-btn{
    @apply active:scale-95 bg-[#FF3B3F] py-3 hover:brightness-90 transition font-bold text-xl tracking-wide rounded-full text-white w-full
  }

  .l{
    color: #41da6a;
  }

  .option{
    @apply border-transparent border-[3px] nunito-font flex items-center gap-5 py-7 px-5 rounded-lg  text-slate-800
  }

  .option-n-s{
    @apply bg-slate-100
  }

  .option-s{
    @apply  border-green-500 bg-white
  }

  .gradient-text{
    background: #CF2F17;
    background: linear-gradient(to right, #CF2F17 0%, #FFE016 50%, #5ECF13 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer utilities{
  .nunito-font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .scroll-hidden{
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
}